<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
</head>
<body>

    <h1>Books</h1>

    <ul>
        {% for book in books %}
        <li> <a href=" {% url 'book' book.id %} "> {{ book.title }} </a> </li>
        {%  endfor %}
    </ul>
</body>
</html>