<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>

<h1>Author</h1>

<ul>
    <li> {{ publisher.name }} </li>
    <li> {{ publisher.city }} </li>
    <li> {{ publisher.country }} </li>
    <li> {{ publisher.website }} </li>
    <li><h3>Publisher Books</h3></li>
    {% for book in books %}
        <li> <a href=" {% url 'book' book.id %} "> {{ book.title }} </a> </li>
    {%  endfor %}
</ul>
</body>
</html>
